@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body {
  background: #FAFAFF;
}

input[type=password], input[type=email], input[type=text], textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=password]:focus, input[type=email]:focus, input[type=search]:focus, input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 3px #51cbee;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #51cbee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

header nav {
  background: #111820;
  width: 100%;
  height: 50px;
  color: #FAFAFF;
}
header nav ul.navigation {
  display: none;
}
header nav ul.m-response {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 10px;
}
header nav ul.m-response .fa-bars:hover {
  border: none;
  animation-name: no;
}
header nav ul.m-response .fa-bars:hover .mobile-bar {
  display: block;
}
header nav ul.m-response .fa-bars {
  font-weight: 700;
  font-size: 25px;
  border: 1px solid #555;
  animation-name: fa-bars;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  padding: 2px 10px;
  transition: 1s ease-in-out;
}
header nav ul.m-response .fa-bars .mobile-bar {
  position: absolute;
  background: #111820;
  top: 50px;
  left: -250px;
  width: 250px;
  padding: 0 0 20px 0;
  animation-name: sidebar;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  z-index: 2;
  display: none;
  margin: -2px 0 0 0;
}
header nav ul.m-response .fa-bars .mobile-bar .home h3, header nav ul.m-response .fa-bars .mobile-bar .account h3 {
  color: #FFF;
  font-weight: 500;
  font-size: 16px;
  margin: 10px 0 5px 20px;
  letter-spacing: 0.7px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
header nav ul.m-response .fa-bars .mobile-bar .home h4, header nav ul.m-response .fa-bars .mobile-bar .account h4 {
  font-weight: 400;
  color: #787878;
  font-size: 16px;
  font-weight: bold;
  margin: 25px 0 25px 35px;
  letter-spacing: 0.8px;
  font-family: "Raleway", sans-serif;
}
header nav ul.m-response .fa-bars .mobile-bar .home h4 a, header nav ul.m-response .fa-bars .mobile-bar .account h4 a {
  color: #787878;
}
header nav ul.m-response .fa-bars .mobile-bar .home h4 i, header nav ul.m-response .fa-bars .mobile-bar .account h4 i {
  margin: 0 5px 0 0;
}
header nav ul.m-response .fa-bars .mobile-bar .home h4 .fa-chevron-left, header nav ul.m-response .fa-bars .mobile-bar .account h4 .fa-chevron-left {
  position: relative;
  right: 0;
}
header nav ul.m-response .fa-search {
  font-size: 25px;
  transition: 1s ease-in-out;
  font-weight: 700;
  padding: 2px 10px;
  animation-name: fa-search;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
header nav ul.m-response .fa-search:hover {
  animation-name: no;
}
header nav ul.m-response .fa-search:hover input {
  display: block;
}
header nav ul.m-response .fa-search {
  display: flex;
  align-items: center;
}
header nav ul.m-response .fa-search input {
  position: absolute;
  right: 50px;
  height: 30px;
  width: 240px;
  outline: none;
  font-family: "Raleway", sans-serif;
  border: none;
  border-radius: 5px;
  margin: 0 10px 0 0;
  padding: 0 0 0 10px;
  animation-name: search;
  animation-duration: 0.55s;
  animation-fill-mode: forwards;
  display: none;
}
header nav ul.m-response .fa-search input[type=search]:focus {
  box-shadow: 0 0 3px #51cbee;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  border: 1px solid #51cbee;
  -o-transition: all 0.3s ease-in-out;
}

@keyframes sidebar {
  from {
    left: -250px;
  }
  to {
    left: 0;
  }
}
@keyframes fa-bars {
  from {
    border: 1px solid #555;
  }
  to {
    border: 1px solid #111820;
  }
}
@keyframes fa-search {
  from {
    border: 1px solid #555;
  }
  to {
    border: 1px solid #111820;
  }
}
@keyframes search {
  from {
    width: 0;
    margin: 0 0 0 0;
  }
  to {
    width: 230px;
    margin: 0 10px 0 0;
  }
}
@media (min-width: 800px) {
  header nav ul.m-response {
    display: none;
  }
  header nav ul.navigation {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
  }
  header nav ul.navigation li {
    position: relative;
  }
  header nav ul.navigation li a {
    color: #FFF;
    font-weight: 1000;
    text-transform: capitalize;
    font-family: "Raleway", sans-serif;
  }
  header nav ul.navigation li a i {
    margin: 0 5px 0 0;
  }
  header nav ul.navigation li a:hover::after, header nav ul.navigation li .active::after {
    content: "";
    background: orange;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    animation-name: textunderline;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
  }
  header nav ul.navigation .fa-search:hover input {
    display: block;
  }
  header nav ul.navigation .fa-search {
    position: relative;
  }
  header nav ul.navigation .fa-search input {
    position: absolute;
    right: 0;
    top: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 0 0 10px;
    border: 1px solid #555;
    animation-name: specila-search;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    display: none;
    z-index: 2;
  }
  header nav ul.navigation .fa-search input[type=search]:focus {
    box-shadow: 0 0 3px #51cbee;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    border: 1px solid #51cbee;
    -o-transition: all 0.3s ease-in-out;
  }
}
@keyframes textunderline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes specila-search {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 500px;
    height: 40px;
  }
}
header .cloths {
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  margin: 20px 0 10px 10px;
  font-weight: 700;
}
header .tags {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Raleway", sans-serif;
}
header .tags .tag1,
header .tags .tag2,
header .tags .tag3,
header .tags .tag4,
header .tags .tag5,
header .tags .tag6,
header .tags .tag7,
header .tags div {
  display: flex;
}
header .tags .tag1 h6,
header .tags .tag2 h6,
header .tags .tag3 h6,
header .tags .tag4 h6,
header .tags .tag5 h6,
header .tags .tag6 h6,
header .tags .tag7 h6,
header .tags div h6 {
  border-radius: 10px;
  background: #Fff;
  padding: 6px 16px;
  box-shadow: 0 0 4px #787878;
}
header .tags .tag1 h6:hover,
header .tags .tag2 h6:hover,
header .tags .tag3 h6:hover,
header .tags .tag4 h6:hover,
header .tags .tag5 h6:hover,
header .tags .tag6 h6:hover,
header .tags .tag7 h6:hover,
header .tags div h6:hover {
  border: none;
  box-shadow: 0 0 3px #51cbee;
}

@media (max-width: 500px) {
  header .tags {
    height: 100px;
  }
}
.hero-section {
  overflow: hidden;
}
.hero-section img {
  position: relative;
  height: 300px;
}

@media (min-width: 500px) {
  .hero-section {
    overflow: hidden;
  }
  .hero-section img {
    position: relative;
    width: 100%;
  }
}
.first-categorie, .watchs, .shoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.first-categorie .cloths, .first-categorie .watch-brand, .watchs .cloths, .watchs .watch-brand, .shoes .cloths, .shoes .watch-brand {
  background: #FFF;
  width: 202px;
  min-height: 320px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.first-categorie .cloths img, .first-categorie .watch-brand img, .watchs .cloths img, .watchs .watch-brand img, .shoes .cloths img, .shoes .watch-brand img {
  width: 200px;
  position: relative;
  top: 0;
}
.first-categorie .cloths .topic, .first-categorie .watch-brand .topic, .watchs .cloths .topic, .watchs .watch-brand .topic, .shoes .cloths .topic, .shoes .watch-brand .topic {
  font-size: 20px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  margin: 5px 0;
}
.first-categorie .cloths .price, .first-categorie .watch-brand .price, .watchs .cloths .price, .watchs .watch-brand .price, .shoes .cloths .price, .shoes .watch-brand .price {
  font-size: 20px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin: 5px 0;
}
.first-categorie .cloths .price-blour, .first-categorie .watch-brand .price-blour, .watchs .cloths .price-blour, .watchs .watch-brand .price-blour, .shoes .cloths .price-blour, .shoes .watch-brand .price-blour {
  font-size: 20px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin: 5px 0;
  color: #787878;
  position: relative;
}
.first-categorie .cloths .price-blour::after, .first-categorie .watch-brand .price-blour::after, .watchs .cloths .price-blour::after, .watchs .watch-brand .price-blour::after, .shoes .cloths .price-blour::after, .shoes .watch-brand .price-blour::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  background: #000;
  width: 100%;
  height: 1px;
}
.first-categorie .cloths .btn, .first-categorie .watch-brand .btn, .watchs .cloths .btn, .watchs .watch-brand .btn, .shoes .cloths .btn, .shoes .watch-brand .btn {
  border: none;
  outline: none;
  background: Red;
  color: #FFF;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 4px;
  margin: 0 0 5px 0;
}
.first-categorie .cloths .btn:hover, .first-categorie .watch-brand .btn:hover, .watchs .cloths .btn:hover, .watchs .watch-brand .btn:hover, .shoes .cloths .btn:hover, .shoes .watch-brand .btn:hover {
  box-shadow: 0 0 5px #787878;
}

main .watchs .top, main .shoes .top {
  width: 100vw;
  height: 100px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  justify-content: center;
  align-items: flex-start;
  padding: 0 0 0 20px;
  margin: 30px 0 10px 0;
}
main .watchs .top h1, main .shoes .top h1 {
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  margin: 20px 0 10px 10px;
  font-weight: 700;
}

main footer {
  font-family: "Montserrat", sans-serif;
  margin: 50px 0 0 0;
  padding-top: 30px;
  background-color: #383340;
  color: #FFF;
  display: flex;
  flex-direction: column;
}
main footer div .contacts, main footer div .company, main footer div .pages {
  margin: 20px 10px;
}
main footer div .contacts h4, main footer div .company h4, main footer div .pages h4 {
  color: #797979;
  font-size: 15px;
}
main footer div .subscribe h6 {
  color: #797979;
  margin-bottom: 20px;
  font-size: 12px;
}
main footer div .subscribe .email {
  margin-bottom: 20px;
}
main footer div .subscribe .email button {
  border: none;
  outline: none;
  height: 30.2px;
  padding: 0 10px;
  color: #FFF;
  font-weight: bold;
  background: #256effff;
}
main footer div .subscribe .email input {
  height: 30px;
}
main footer div .subscribe .contact-icons i {
  margin: 0 10px;
  padding: 10px;
  border-radius: 50%;
}
main footer div .subscribe .contact-icons i:hover {
  background: #256effff;
  transition: background 3s;
}
main footer .breake-2, main footer .breake-1 {
  display: flex;
  flex: 1;
}
main footer .breake-1 .pages, main footer .breake-1 .company {
  flex: 1;
}
main footer .breake-2 .contacts, main footer .breake-2 .subscribe {
  flex: 1;
}
main footer .copyright {
  padding: 10px 0 10px 10px;
}

.toys span {
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  margin: 20px 0 10px 10px;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
