@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    background: #fff;	
}

h1 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin: 35px 0 20px 0;
}
main {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	width: 700px;
	.First_div {
		display: flex;
		justify-content: space-between;
		div {
			display: flex;
			flex-direction: column;
			label {
				font-family: 'Raleway', sans-serif;
				font-weight: bold;
				color: #555;
			}
			input {
				  -webkit-transition: all 0.30s ease-in-out;
				  -moz-transition: all 0.30s ease-in-out;
				  -ms-transition: all 0.30s ease-in-out;
				  -o-transition: all 0.30s ease-in-out;
				  outline: none;
				  padding: 3px 0px 3px 3px;
				  margin: 5px 1px 3px 0px;
				  font-family: 'Raleway', sans-serif;
				  border: 1px solid #DDDDDD;
				  height: 45px;
				  border-radius: 5px;
				  width: 200px;
			}
		}
	}
	.Second_div {
		width: 100%;
		height: 200px;
		label {
			font-family: 'Raleway', sans-serif;
			font-weight: bold;
			color: #555;
		}
		.msg {
		      -webkit-transition: all 0.30s ease-in-out;
			  -moz-transition: all 0.30s ease-in-out;
			  -ms-transition: all 0.30s ease-in-out;
			  -o-transition: all 0.30s ease-in-out;
			  outline: none;
			  padding: 3px 0px 3px 3px;
			  margin: 5px 1px 3px 0px;
			  border: 1px solid #DDDDDD;
			  height: 150px;
			  width: 700px;
			  border-radius: 5px;
			  font-family: 'Raleway', sans-serif;
		}
	}
}
input[type=password]:focus,input[type=email]:focus,input[type=search]:focus,input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 3px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}
#btn {
    display: flex;
    justify-content: center;
    button {
		font-family: 'Raleway', sans-serif;
		border: 1.3px solid #000;
		padding: 8px 13px;
		outline: none;
		border-radius: 5px;
		color: #000;
		background: #fff;
		text-align: center;
		font-weight: bold;
    }
    button:hover {
    	-webkit-transition: all 0.30s ease-in-out;
	    -moz-transition: all 0.30s ease-in-out;
	    -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
    	background: #000;
    	color: #fff;
    }
}