<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1><span id="o">M</span><span id="t">e</span><span id="th">e</span><span id="f">t</span><span id="f"> U</span><span id="s">s</span></h1>
    <div class="container">
    
        <div class="paragraph">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed officia consectetur in dolorem ullam eius, cumque accusantium iure ab accusamus debitis sunt aliquid libero, ipsa cupiditate autem earum, quasi tempora</p>
        </div>
        
        <button>CONTACT US</button>
        
    </div>
    
        <div class="main-img">
            <img src="../image-library/blogs/charles-forerunner-3fPXt37X6UQ-unsplash.jpg">
        </div>
</body>
</html>