<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="../css/account.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
</head>
<body>
    <main>
        <div class="main-heading">
            <h1 class="join-login">Sign in / Join Free</h1>
            <i id="profile-pic"></i>
        </div>
        <div class="ad-vi">
            <div>
                <i class="fa fa-heart"></i><span>Wish List</span>
            </div>
            <div>
                <i class="fa fa-star"></i><span>Fallowing</span>    
            </div>
        </div>
        <div class="main-content1">
            <div class="section-1">
                <span>My Orders</span><a href="">VIEW ALL</a>
            </div>
            <div class="section-2">
                <span>Unpaid</span>
            </div>
            <div class="section-3">
                <span>To be shipped</span>
            </div>
            <div class="section-4">
                <span>Shipped</span>
            </div>
            <div class="section-5">
                <span>To be reviewd</span>
            </div>
            <div class="section-6">
                <span>In dispute</span>
            </div>
        </div>
        <div class="help__center">
            <div>
                <i class="fa fa-cog"></i><span>Setting</span>
            </div>
            <div>
                <i class="fa fa-info-circle"></i><span>Help Center</span>
            </div>
        </div>
        <button><i class="fa fa-whatsapp"></i>Fallow us</button>
    </main>
</body>
</html>