<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Contact</title>
</head>
<body>
    <h1>Contact Us</h1>
    <main>
        <div class="First_div">
            <div>
                <label>Name</label>
                <input type="text">
            </div>
            <div>
                <label>Email</label>
                <input type="text">
            </div>
            <div>
                <label>Phone</label>
                <input type="text">
            </div>
        </div>
        <div class="Second_div">
            <label>Message</label>
            <textarea class='msg' rows='700' columns="50"></textarea>
        </div>
    </main>
    <div id="btn">
        <button>SEND FROM</button>
    </div>
</body>
</html>