<!doctype html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <form>
        <h1>Login to Sitename</h1>
        <div>
            <input type="text" placeholder="Username or e-mail">
        </div>
        <div>
            <input type="password" placeholder="Password">
        </div>
        <div class='__forgot'>
            <div>
                <input type="checkbox">
                <span>Remember me</span>
            </div>
            <a href="">Forgot password ?</a>
        </div>
        <button>Login</button>
        <div class="__sign_up">
            <span>Don't have an account?</span><a href=''>Sign up</a>
        </div>
    </form>
</body>
</html>